@page
@model attendance.changepasswordModel
@{
    ViewData["Title"] = "changepassword";
}

    <script>

        // Function to check Whether both passwords
        // is same or not.
        function checkPassword(form) {
           // username2 = form.Username2.value;
            OldPassword = form.currentpassword.value;
            NewPassword = form.newpassword.value;
            ConfirmPassword = form.confirmpassword.value;

           
            // If confirm password not entered
             if (OldPassword == '')
                alert("Please enter Old Password");

            else if (NewPassword == '')
                alert("Please enter New Password");

            else if (ConfirmPassword == '')
                alert("Please enter Confirm Password");

            // If Not same return False.
            else if (NewPassword != ConfirmPassword) {
                alert("\nPassword did not match: Please try again...")
                return false;
            }

            // If same return True.
            else {

                return true;
            }
        }
    </script>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        
        <!-- Main content -->
        <section class="content">

            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-12">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="nav-tabs-custom">

                        <!-- TO DO List -->
                        <div class="box box-primary">

                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="tab-pane" id="tab_2">

                                            <div class="row container">
                                                <h3 class="section">Change Password</h3>
                                            </div>
                                            <div class="row">
                                                <hr />


                                                <form method="post" enctype="multipart/form-data" onSubmit = "return checkPassword(this)">
                                                    
                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                        <div class="row">


                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label for="exampleInputEmail1">Current Password</label>
                                                                    <input asp-for="currentpassword" required class="form-control" type="password">

                                                                </div>
                                                            </div>

                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label for="exampleInputEmail1">New Password</label>
                                                                    <input asp-for="newpassword" required class="form-control" type="password">

                                                                </div>
                                                            </div>

                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label for="exampleInputEmail1">Confirm Password</label>
                                                                    <input asp-for="confirmpassword" required class="form-control" type="password">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="col-md-6 col-md-offset-3">
                                                                    <a href="dashboard" class="btn btn-primary">Back</a>
                                                                    <input type="submit" class="btn btn-success" value="Save" name="savemore">
                                                                </div>
                                                            </div>
                                                        </div>






                                                    </div>
                                                </form>
                                            </div>



                                        </div>

                                    </div>

                                </div>
                                <!-- /.box-body -->
                            </div>

                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>


        <!-- right col -->
    </div>

